node_modules
dist
build
coverage
.env
.env.*
!**/.env.example
.DS_Store
.idea
.vscode
.pnpm-store
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
infra/env/*.env
apps/*/.env
