DATABASE_URL="postgresql://postgres:root@postgres:5432/product_catalog?schema=public"
AWS_REGION=eu-central-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SQS_ENDPOINT=http://localstack:4566
PRODUCT_EVENTS_QUEUE_NAME=product-events
PORT=3001
WEB_ORIGIN=http://localhost:8080
